!!! 5
html
    head
        title= pageName
        link(rel='stylesheet', href='likes.css', type='text/css' )
    body
        div#likes
            for like in likes
                div.like
                    div.info
                        ul
                            title  = like.realTitle
                            artist = like.realArtist
                            album  = like.realAlbum

                            if (title  == null)
                                title  =  like.title
                            if (artist == null)
                                artist =  like.artist
                            if (album  == null)
                                album  =  like.album

                            li(class = "title")= title
                            li(class = "artist")= artist
                            li(class = "album")= album
                    div.art
                        img(src="#{like.art}")